@import "~bootstrap-4-grid/scss/grid"
@import "reset"
@import "vars"
@import "extends"


html, body
  height: 100%

body
  font-family: $main-font

a
  transition: color 0.5s, background-color 0.5s, outline-color 0.5s, border 0.5s

label
  margin: 0

.size
  width: 355px

.wrapper
  min-height: 100%
  display: flex
  flex-direction: column

.catalog
  flex-grow: 1

.find
  display: flex
  justify-content: center
  align-items: center
  background: #ECECEC
  height: 40px

.find__container
  @extend %align-items
  height: 25px
  background: #ffffff
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
  border-radius: 60px

.find__icon
  margin-left: 13px
  display: flex
  align-items: center

.find__input
  font-family: Roboto
  font-style: normal
  font-weight: normal
  font-size: 12px
  height: 19px
  margin-left: 11px
  width: 210px

.find__input::placeholder
  line-height: 19px
  color: #606060

.find__button
  background-color: #ED1B24
  color: #ffffff
  border-radius: 60px
  font-family: Roboto
  font-style: normal
  font-weight: 500
  font-size: 10px
  line-height: 12px
  display: flex
  align-items: center
  justify-content: center
  width: 92px
  height: 20px
  margin-right: 2px
  margin-left: auto

.nav
  margin: 20px 0
  display: flex
  justify-content: center
  align-items: center

.nav__container
  @extend %space-between
  width: 223px

.nav__item
  font-family: Roboto
  font-style: normal
  font-weight: normal
  font-size: 13px
  line-height: 15px
  color: #C4C4C4
  text-decoration: none
  transition: color 0.5s

.nav__item:hover
  color: #606060

.nav__item:active
  color: #606060

.catalog__block
  display: flex
  justify-content: center

.catalog__h2
  font-family: Roboto
  font-style: normal
  font-weight: normal
  font-size: 30px
  line-height: 35px
  text-align: center
  color: #000000
  margin-bottom: 20px

.catalog__hr
  border: 1px solid #C4C4C4
  margin: auto
  width: 355px

.catalog__filter
  margin: auto

.catalog__filter_lg
  display: none
  padding-bottom: 20px
  background: #ECECEC
  margin-top: 18px
  border-radius: 5px
  height: max-content

.filter__drop_lg
  margin-left: auto
  margin-right: auto

.filter
  margin-top: 18px
  margin-left: auto
  margin-right: auto
  background: #ECECEC
  border-radius: 5px

.filter__summary
  position: relative
  display: flex
  justify-content: space-between
  line-height: 50px
  font-family: Roboto
  font-style: normal
  font-weight: normal
  font-size: 16px
  color: #606060
  padding-left: 10px
  //margin: 0 15px

.filter__summary:before
  position: absolute
  right: 32px
  content: "Развернуть"
  font-family: Roboto
  font-style: normal
  font-weight: normal
  font-size: 13px

.filter__summary:after
  content: "\f078"
  font-family: FontAwesome
  color: #606060
  font-size: 13px
  padding-right: 13px

.filter[open] .filter__summary:after
  content: "\f077"
  font-family: FontAwesome

.filter[open] .filter__summary:before
  content: "Свернуть"

.filter__drop
  background: #ECECEC
  margin-top: -5px
  padding-bottom: 20px
  border-radius: 5px

.filter__drop_below
  padding-top: 18px
  margin-left: auto
  margin-right: auto
  width: 315px

.filter__summary_below
  position: relative
  display: flex
  justify-content: space-between
  font-family: Roboto
  font-style: normal
  font-weight: normal
  font-size: 13px
  color: #000000
//margin: 0 20px

.filter__summary_below:before
  position: absolute
  right: 32px
  content: "Развернуть"
  font-family: Roboto
  font-style: normal
  font-weight: normal
  font-size: 13px
  color: #00A54D

.filter__summary_below:after
  content: "\f078"
  font-family: FontAwesome
  font-size: 11px
  color: #00A54D
  background-color: white
  border-radius: 50%
  padding: 3px 4px 4px 4px

.filter__drop_below[open] .filter__summary_below:after
  content: "\f077"
  font-family: FontAwesome

.filter__drop_below[open] .filter__summary_below:before
  content: "Свернуть"

.filter__hr
  margin-top: 22px
  width: 326px
  border: 0.5px solid #C4C4C4

.slider
  -webkit-appearance: none
  width: 315px
  height: 3px
  position: absolute
  background: #C4C4C4
  outline: none

.slider input
  pointer-events: none
  position: absolute
  overflow: hidden
  left: 25%
  top: 15px
  width: 50%
  outline: none
  height: 18px
  margin: 0
  padding: 0

.slider::-webkit-slider-thumb
  -webkit-appearance: none
  appearance: none
  width: 15px
  height: 15px
  background: #ffffff
  border: 1px solid #00A54D
  border-radius: 50%
  cursor: pointer
  pointer-events: all
  position: relative
  z-index: 1
  outline: 0

.slider::-moz-range-thumb
  width: 15px
  height: 15px
  background: #ffffff
  border: 1px solid #00A54D
  border-radius: 50%
  cursor: pointer
  pointer-events: all
  position: relative
  z-index: 100
  -moz-appearance: none

.slider input::-moz-range-track
  position: relative
  z-index: -1
  border: 0

.slider input:last-of-type::-moz-range-track
  -moz-appearance: none
  background: none transparent
  border: 0

.slider input[type=range]::-moz-focus-outer
  border: 0

.filter__range
  display: flex
  justify-content: space-between
  margin-top: 15px
  align-items: center

.filter__range__price
  border: 1px solid #00A54D
  border-radius: 30px
  width: 60px
  height: 25px
  background: #ffffff
  font-family: Roboto
  font-style: normal
  font-weight: normal
  font-size: 13px
  line-height: 25px
  text-align: center
  margin: 0

.filter__range__hr
  border: 0.5px solid #C4C4C4
  width: 178px
  margin: 0

.filter__drop__row
  display: flex
  justify-content: left

  p
    font-family: Roboto
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 24px
    color: #606060
    margin: 0
    padding-left: 3px

.filter__drop__label>input
  position: absolute
  z-index: -1
  opacity: 0

.filter__drop__label>span
  display: inline-flex
  align-items: center
  user-select: none

.filter__drop__label>span::before
  margin-top: 2px
  background: #ffffff
  border: 1px solid #00A54D
  content: ''
  display: inline-block
  width: 1em
  height: 1em
  flex-shrink: 0
  flex-grow: 0
  border-radius: 0.25em
  margin-right: 0.5em
  background-repeat: no-repeat
  background-position: center center
  background-size: 50% 50%

.filter__drop__label>input:checked+span::before
  background-image: url("./assets/img/ok.png")

.filter__drop__label>input:disabled+span::before
  background-color: #ffffff

.withdrawal
  margin-top: 20px
  display: flex
  justify-content: center
  margin-bottom: 25px

.withdrawal__view
  display: none

.withdrawal__content
  display: flex
  justify-content: space-between


.withdrawal__block
  display: flex
  margin-top: 15px

  p
    margin: 0 10px 0 0
    font-family: Roboto
    font-style: normal
    font-weight: normal
    font-size: 13px
    line-height: 33px

  label
    @extend %align-items

.withdrawal__block_2
  padding: 0
  display: flex
  justify-content: flex-end

.withdrawal__block_3
  padding-right: 14px

.withdrawal__label>input
  position: absolute
  z-index: -1
  opacity: 0

.withdrawal__label>span
  display: inline-flex
  align-items: center
  user-select: none

.withdrawal__label>span::before
  margin-top: 2px
  background: #ffffff
  border: 0.5px solid #606060
  content: ''
  display: inline-block
  width: 1em
  height: 1em
  flex-shrink: 0
  flex-grow: 0
  border-radius: 0.25em
  margin-right: 0.5em
  background-repeat: no-repeat
  background-position: center center
  background-size: 50% 50%

.withdrawal__label>input:checked+span::before
  background-image: url("./assets/img/ok.png")

.withdrawal__label>input:disabled+span::before
  background-color: #ffffff

.withdrawal__box
  position: relative
  width: 50px
  height: 33px
  //background: #ECECEC
  //color: #00A54D
  //font-family: Roboto
  //font-style: normal
  //font-weight: normal
  //font-size: 12px
  //line-height: 14px
  //text-align: center
  //width: 50px
  //height: 33px
  //border-radius: 3px
  //padding-left: 10px
  //padding-right: 5px
  //display: flex

.withdrawal__box:after
  display: inline-block
  z-index: 2
  position: absolute
  right: 13px
  top: 6px
  //width: 7px
  //height: 3px
  text-align: center
  content: url("./assets/img/down.png")

.withdrawal__select
  display: block
  background: #ECECEC
  appearance: none
  border: none
  outline: none
  border-radius: 3px
  padding: 11px
  //padding-left: 10px
  //padding-right: 5px
  margin: 0
  width: 100%
  font-family: inherit
  font-size: 12px
  cursor: inherit
  line-height: inherit
  color: #00A54D
  option
    outline: none
    border: none

.withdrawal__select_sort
  width: 128px

.products
  margin-bottom: 35px
  width: 330px

.products__item
  margin-top: 22px
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15)
  border-radius: 5px
  display: flex
  justify-content: center
  flex-direction: column
  align-items: center

.item__img
  margin-top: 32px

.item__name
  margin-top: 22px
  width: 220px
  height: 32px
  font-family: Roboto
  font-style: normal
  font-weight: normal
  font-size: 16px
  line-height: 19px
  text-align: center
  color: #000000

.item__price
  margin-top: 25px
  font-family: Open Sans
  font-style: normal
  font-weight: 800
  font-size: 30px
  line-height: 41px
  display: flex
  align-items: center
  color: #00A54D

.item__box
  display: flex

.item__sale
  margin-top: 25px
  font-family: Open Sans
  font-style: normal
  font-weight: 600
  font-size: 18px
  line-height: 25px
  display: flex
  align-items: center
  color: #696969
  margin-right: 10px
  text-decoration: line-through

.item__interaction
  margin-top: 15px
  width: 296px
  display: flex
  justify-content: space-between
  margin-bottom: 32px

.item__button
  background: #00A54D
  border-radius: 30px
  width: 165px
  height: 43px
  font-family: Roboto
  font-style: normal
  font-weight: bold
  font-size: 13px
  line-height: 15px
  text-align: center
  text-transform: uppercase
  color: #FFFFFF
  transition: background-color 0.5s

.item__button:hover
  background: #0C8343

.item__button:focus
  background: #0C8343

.item__count
  display: inline-block
  position: relative
  width: 100px
  background: #ECECEC
  border-radius: 30px
  vertical-align: baseline

.item__input
  display: block
  height: 43px
  line-height: 43px
  width: 100%
  padding: 0
  margin: 0
  box-sizing: border-box
  text-align: center
  -moz-appearance: textfield
  -webkit-appearance: textfield
  appearance: textfield
  background: #ECECEC
  border-radius: 30px
  color: #00A54D


.item__input::-webkit-outer-spin-button,
.item__input::-webkit-inner-spin-button
  display: none

.item__down
  position: absolute
  top: 1px
  left: 10px
  bottom: 1px
  width: 20px
  padding: 0
  display: block
  text-align: center
  border: none
  font-size: 16px
  font-weight: 600
  background: transparent
  color: #00A54D
  transition: color 0.5s

.item__down:focus
  color: #0C8343

.item__up
  position: absolute
  top: 1px
  right: 10px
  bottom: 1px
  width: 20px
  padding: 0
  display: block
  text-align: center
  border: none
  font-size: 16px
  font-weight: 600
  background: transparent
  color: #00A54D
  transition: color 0.5s

.item__up:focus
  color: #0C8343

.pagination
  display: flex
  justify-content: center

.pagination__content
  display: flex
  justify-content: space-between
  align-items: center
  width: 100%

  a
    font-family: Roboto
    text-align: center
    width: 40px
    height: 40px
    font-style: normal
    font-weight: 500
    font-size: 18px
    line-height: 21px
    display: flex
    align-items: center
    color: #606060
    justify-content: center
    margin: 17px 0
    transition: color 0.5s
    text-decoration: none

  a:hover
    color: #00A54D

.pagination__content_active
  border-radius: 50%
  border: 2px solid #00A54D

@media screen and (min-width: 768px)
  .size
    width: 688px

  .find
    height: 60px

  .find__container
    height: 40px

  .find__icon
    margin-left: 28px

  .find__button
    margin-right: 8px
    height: 24px
    font-size: 12px

  .filter__drop_below
    width: 637px

  .slider
    width: 637px

  .filter__hr
    width: 645px

  .filter__range__hr
    width: 490px

  .catalog__h1
    font-size: 36px
    line-height: 42px

  .withdrawal__block_3
    padding-right: 14px
    display: flex
    justify-content: flex-end

  .pagination__content
    width: 492px

@media screen and (min-width: 1600px)
  .wrapper
    background: #F4F4F4

  .catalog
    width: 1600px
    background: #ffffff
    margin: auto

  .size
    width: 1440px

  .find
    height: 80px
    position: relative

  .find__content
    position: absolute
    width: 100vw
    background: #ECECEC
    display: flex
    justify-content: center

  .find__right
    width: 1440px
    display: flex
    justify-content: flex-end
    height: 80px
    align-items: center

  .find__container
    width: 1030px
    display: flex
    height: 49px

  .find__icon
    margin-left: 30px
    width: 22px
    height: 23px

  .find__button
    width: 115px
    height: 30px
    margin-right: 14px
    font-size: 15px

  .find__input
    font-size: 16px

  .nav__container
    width: 1440px
    justify-content: flex-start

  .nav__item
    margin-right: 17px

  .catalog__h2
    display: block
    text-align: left

  .catalog__content
    display: flex
    justify-content: center

  .catalog__container
    width: 1440px
    display: flex
    justify-content: space-between

  .catalog__filter
    display: none
    margin: 0
    width: 345px

  .catalog__filter_lg
    width: 345px
    display: flex

  .filter
    display: flex
    justify-content: flex-start
    width: 345px

  .filter__drop_below
    width: 320px

  .filter__hr
    width: 320px
    margin-top: 18px

  .filter__range__hr
    width: 160px

  .slider
    width: 320px

  .catalog__box
    width: 1050px

  .withdrawal__content
    width: 1050px

  .withdrawal__view
    display: flex
    align-items: flex-end
    justify-content: space-between
    i
      padding: 8px
      color: #C4C4C4
      transition: color 0.5s, background 0.5s
    i:hover
      color: #00A54D
      background: #ECECEC

  .withdrawal__block_2
    display: flex
    justify-content: flex-end
    padding-right: 23px

  .hr__xl
    width: 1050px

  .products
    width: 1050px

  .pagination
    width: 1050px

