@import "reset"
@import "vars"
@import "extends"
@import "mixins"

html, body
  height: 100%

body
  font-family: $main-font

a
  transition: color 0.5s, background-color 0.5s, outline-color 0.5s, border 0.5s

.wrapper
  min-height: 100%
  display: flex
  flex-direction: column

.catalog
  flex-grow: 1

.find
  display: flex
  justify-content: center
  align-items: center
  background: #ECECEC
  height: 40px

.find__container
  @extend %align-items
  width: $site-width
  height: 25px
  background: #ffffff
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
  border-radius: 60px

.find__icon
  margin-left: 13px
  display: flex
  align-items: center

.find__input
  font-family: Roboto
  font-style: normal
  font-weight: normal
  font-size: 12px
  height: 19px
  margin-left: 11px
  width: 210px

.find__input::placeholder
  line-height: 19px
  color: #606060

.find__button
  background-color: #ED1B24
  color: #ffffff
  border-radius: 60px
  font-family: Roboto
  font-style: normal
  font-weight: 500
  font-size: 10px
  line-height: 12px
  display: flex
  align-items: center
  justify-content: center
  width: 92px
  height: 20px
  margin-right: 2px
  margin-left: auto

.nav
  margin: 20px 0
  display: flex
  justify-content: center
  align-items: center

.nav__container
  @extend %space-between
  width: 223px

.nav__item
  font-family: Roboto
  font-style: normal
  font-weight: normal
  font-size: 13px
  line-height: 15px
  color: #C4C4C4

.nav__item:hover
  color: #606060

.nav__item:active
  color: #606060

.catalog__h1
  font-family: Roboto
  font-style: normal
  font-weight: normal
  font-size: 30px
  line-height: 35px
  text-align: center
  color: #000000
  text-transform: uppercase
  margin-bottom: 20px

.catalog__hr
  width: $site-width
  border: 1px solid #C4C4C4
  margin: auto

.filter
  margin-top: 18px
  margin-left: auto
  margin-right: auto
  background: #ECECEC
  border-radius: 5px
  height: 50px
  width: $site-width

.filter__summary
  display: flex
  justify-content: space-between
  line-height: 50px
  font-family: Roboto
  font-style: normal
  font-weight: normal
  font-size: 16px
  color: #606060
  margin: 0 15px

.filter__summary:before
  content: "Фильтры"

.filter__summary:after
  content: "Развернуть \f078"
  font-family: FontAwesome
  color: #606060

.filter[open] .filter__summary:after
  content: "Свернуть \f077"
  font-family: FontAwesome
  color: #606060
